:root{
    --mainColor: #5a189a;
    --darkColor: #10002b;
    --lightColor: #e0aaff;
    --color1: #240046;
    --color2: #3c096c;
    --color3: #7b2cbf;
    --color4: #9d4edd;
    --color5: #c77dff;
}
.main-container{
    background-color: var(--color2);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 50vh;
    width: 700px;

}
.setup-container{
    background-color: var(--color4);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0.9rem;
}
.punchline-container{
    background-color: var(--color5);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    min-height: 180px;
    width: 95%;
    position: relative;
}
.reactions-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.reactions-container span{
    border-radius: 30px;
    padding: 3px;
    background-color: var(--color4);
    font-size: 1.1rem;
}
.reactions-container span:hover{
    border-radius: 30px;
    padding: 3px;
    background-color: var(--color2);
    font-size: 1.1rem;
}
.overlay{
    background-color: var(--color2);
    opacity: 0.97;
    filter: blur(100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    transform: translateX(-20px) translateY(-20px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    cursor: pointer;
    transition: all 1s ease-in-out;
    
}
.overlay:hover p{
    text-decoration: underline;
    color: aqua;
    transition: all 0.8s ease-in-out;
}

